/* ==========================================================================
   Global styles
   ========================================================================== */

html {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    margin-top: 50px;
}

h1 {
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    color: #1097cf;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    font-size: 200%;
    font-weight: 400;
    margin: 0;
}

h3 {
    font-size: 150%;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 10px;
}

h4 {
    color: #1097cf;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #1097cf;
}

strong{
    color: #1097cf;
}

nav {
    background-color: #1097cf;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    clear: both;
}

.hidden-mobile {
    display: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.r-container {
    max-width: 600px;
    margin: 0 auto;
}

img {
    height: auto;
    max-width: 100%;
}

.button {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #1097cf;
    display: inline-block;
    color: white;
    border-radius: 0;
}

.button > .fancy-button {
    height: 0;
    max-width: 0;
    opacity: 0;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    padding-left: 0;
    transition: width .4s linear .2s, padding-left .5s, opacity .2s linear;
}

.button:hover {
    transition: all .5s linear;
}

.button:hover > .fancy-button {
    max-width: 100%;
    opacity: 1;
    padding-left: 10px;
    transition: width .4s linear .2s, padding-left .5s, opacity .2s linear;
}

.button .material-icons {
    vertical-align: bottom;
}

.divider {
    border-bottom: 1px solid #e6e6e6;
    max-width: 400px;
    margin: 0 auto;
    clear: both;
}

.col-3-3,
.col-1-3,
.col-2-3,
.col-1-6,
.col-3-6,
.col-5-6 {
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* ==========================================================================
   Navigation/menu styles
   ========================================================================== */

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #1097cf;
    font-family: Arial;
}

.navbar-right {
    float: right;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid #fff;
    margin: 5px 0;
}

.navbar a:last-of-type {
    border-right: 0;
}

.navbar .dropdown-btn .material-icons,
.navbar a .material-icons {
    vertical-align: bottom;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropdown-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid #fff;
    margin: 5px 0;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropdown-btn {
    background-color: #1097cf;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1097cf;
    width: 100%;
    left: 0;
    top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 9;
}

/* Mega Menu header, if needed */
.dropdown-content .header {
    background: #1097cf;
    padding: 16px;
    color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style links inside the columns */
.dropdown-content a {
    float: none;
    color: #fff;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-right: 0;
}

/* Add a background color on hover */
.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.gender-name {
    transform: rotate(90deg);
    transform-origin: right top;
    margin-top: 105px;
    font-size: 2em;
    text-align: left;
    color: #ececec;
}

#menu_branding {
    background: #fff;
}

#menu_branding_image {
    float: left;
    width: 50%;
    height: 100%;
    background: url('/images/edox-960x580.jpg') no-repeat left center / cover;
}

#menu_branding_logo {
    float: left;
    max-width: 50%;
    text-align: right;
}

#menu_branding_logo > img {
    max-width: 60%;
}

#cart_menu {
    position: relative;
}

#cart_item_no {
    position: absolute;
    right: 5px;
    font-size: 0.8em;
    top: -2px;
    font-weight: bold;
    background: #ff0000;
    border-radius: 50%;
    padding: 1px 5px;
}


/* ==========================================================================
   cart styles
   ========================================================================== */

.cart-bg {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 75px;
}

.cart-item {
    display:flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    vertical-align: center;
    border-bottom: 1px solid  #f2f2f2;
}

.cart-item-img {
    width: 100px;
    height: auto;
}

.cart-item-info {
    margin-top: 15px;
}

.cart-item-info-delete {
    margin-top: 33px;
}

.cart-item-info p {
    margin-left: 10px;
}

.cart-item-info a {
    margin: 20px;
    position: relative;
    top: 4px;
}

.cart-item-info h4 {
    margin-top: 20px;
}

.cart-item-info select{
    width: 70px;
    border: none;
    margin-top: 10px;
}

.cart-item-info form {
    margin-top: 4px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.cart-ks-button {
    float: right;
    margin: 20px;
}

.cart-bottom {
    width: 50%;
    float: left;
    margin: 30px 0;
}

.cart-bottom p{
    vertical-align: middle;
    margin: 10px;
}

.cart-bottom h4 {
    margin: 10px;
}

.total-bg {
    background-color: #f2f2f2;
    padding: 20px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    background-color: white;
}

.cart-checkout-button {
    float: right;
    margin: 20px 17px;
}

/* ==========================================================================
   Header/banner styles
   ========================================================================== */

.header-divider {
    position: inherit;
    width: 33.333333%;
    /*height: 100%;*/
    float: left;
    background-color: white;
    z-index: 4;
}

.header-logo {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.header-logo > h1 {
    margin-top: 0;
}

.header-logo img {
    max-height: 150px;
    width: auto;
}

.page-header {
    background-color: white;
    height: 80px;
    width: 100%;
}

.header-title {
    width: 33.333333%
}

.header-title h1 {
    text-align: center;
    color: black;
}

.banner {
    width: 100%;
    max-height: 650px;
    background: black;
    overflow: hidden;
    position: relative;
}

.banner img{
    opacity: 0.7;
}

.banner-small {
    max-height: 300px;
    background: black;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.banner-small-info {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-top: 95px;
}

.banner-small-info h2{
    color: white;
}

.banner-small-info a {
    text-decoration: none;
    color: white;
}

.banner-small img{
    opacity: 0.7;
    filter: blur(2px);
    width: 100%;
}

.banner-clickables {
    position: absolute;
    top:40%;
    right: 8%;
}

.banner-clickables h1 {
    color: #1097cf;
}

.banner-clickables h2 {
    color: #1097cf;
}

.banner-clickables h3 {
    color: white;
    font-weight: lighter;
}

/* ==========================================================================
   Call to action styles
   ========================================================================== */

.call-to-action {
    display: flex;
}

.call-to-action-box {
    margin: 20px;
    background-color: black;
    position: relative;
    overflow: hidden;
    border-radius: 0;
}
.call-to-action-box img {
    transform: scale(1);
    transition: 0.5s;
    border-radius: 0;
    opacity: 0.7;
}

.call-to-action-box:hover > img {
    transform: scale(1.15);
    filter: blur(2px);
}

.call-to-action-box:hover .button {
    transition: all .5s linear;
}

.call-to-action-box:hover .fancy-button,
.banner .button:hover .fancy-button,
.product-right-side .button:hover .fancy-button{
    max-width: 100%;
    height: auto;
    opacity: 1;
    padding-left: 10px;
    transition: width .4s linear .2s, padding-left .5s, opacity .2s linear;
}

.call-to-action-clickables {
    color: white;
    position: absolute;
    top:30%;
    left:10%;
}


/* ==========================================================================
   Product styles
   ========================================================================== */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    max-width: 250px;
    height: auto;
    margin: 20px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-radius: 0;
    box-shadow: 2px 5px #f2f2f2;
    position: relative;
}

.product-clickables {
    position: absolute;
    background-color:transparent;
    top: 0;
    height: 70%;
    width: 90%;
    opacity: 0.7;
    margin: 5px 12px;
    transition: 0.5s;
    border: 1px solid transparent;
}

.product-clickables:hover {
    position: absolute;
    background-color: white;
    top: 0;
    height: 70%;
    width: 90%;
    opacity: 0.7;
    margin: 5px 12px;
    border: 1px solid #f2f2f2;
    border-radius: 0;
}

.product-clickables span img {
    width: 50px;
    margin-top: 50%;
    margin-left: 10px;
}


.product-clickables span {
    visibility: hidden;
    transition: 0.5s;
}

.product-clickables:hover span {
    visibility: visible;
}

.product .product-name {
    font-weight: 500;
}

.product .brand-name {
    color: #8c8c8c;
}

#product_info {
    display: block;
    font-size: 0.9em;
}

#product_info .detail {
    width: 50%;
    text-align: right;
}

#product_info .value {
    color: #1097cf;
    font-weight: 500;
}

.price-container {
    padding: 10px;
    font-weight: 700;
    color: #1097cf;
}

.product-price {
    font-size: 1.5em;
    float: right;
}

.displayed {
    width: 8%;
}

/* ==========================================================================
   Testimonial styles
   ========================================================================== */

.testimonials {
    background-color: #f2f2f2;
    height: 450px;
}

.testimonials .container {
    display: flex;
    justify-content: space-between;
}

.testimonial {
    text-align: center;
    max-width: 30%;
}

.testimonial-user {
    width: 125px;
    height: auto;
    margin: 0 auto;
    padding: 60px 0 30px;
}

.testimonial-user img {
    border-radius: 100%;
}

.testimonial-tagline {
    font-family: 'Dawning of a New Day', cursive;
    font-style: italic;
    font-size: 3em;
}

.testimonial-text:before {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    content: open-quote;
}

.testimonial-text:after {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    content: close-quote;
}

.testimonial-name {
    font-size: 1.5em;
    font-weight: 400;
    color: #1097cf;
}

/* ==========================================================================
   Sale styles
   ========================================================================== */

.sale-items {
    display: flow-root;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.sale-block {
    margin-top: 1em;
    margin-bottom: 2em;
}

.sale-item {
    margin: 10px;
    overflow: hidden;
    height: 250px;
    width: auto;
    flex-shrink: 0;
    background-color: black;
    position: relative;
}

.sale-item img {
    max-width: 575px;
    transform: scale(1);
    transition: 0.5s;
}

.sale-item:hover img {
    transform: scale(1.15);
    filter: blur(2px);
}

.sale-item-info {
    position: absolute;
    background-color: transparent;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    transition: all .5s linear;
    border: 1px solid transparent;
    text-align: center;
}

.sale-item-text-container {
    font-size: 1.5em;
    padding: 0.1em 0.5em;
    opacity: 0;
    transition: all .5s linear;
}

.sale-item-subtitle {
    color: #fff;
}

.sale-item:hover .sale-item-text-container {
    opacity: 1;
    transition: all .5s linear;
}

.sale-item-info:hover {
    background: rgba(0, 0, 0, 0.7);
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

/* ==========================================================================
   Footer styles
   ========================================================================== */

footer {
    font-size: 0.9em;
}

.footer-box {
    width: 100%;
    min-height: 250px;
    background-color: #404040;
    clear: both;
}

.footer-flex {
    display: table-footer-group;
    justify-content: center;
    padding: 30px
}

.footer-wrap {
    width: 100%;
    height: auto;
    margin-left: 30px;
}

.footer-flex li {
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 2px;
    text-align: left;
}

.footer-wrap ul {
    -webkit-padding-start: 0;
}

.footer-flex a{
    border-right: none;
    text-transform: none;
    padding: 0;
    color: white;
}

.footer-flex h3 {
    text-align: left;
    color: #1097cf;
}

footer .material-icons {
    vertical-align: bottom;
    margin-right: 5px;
}

.address-icon-container {
    float: left;
}

.copyrights {
    text-align: center;
    color: #8c8c8c;
    margin-top: 20px;
}

/* ==========================================================================
   Register/Login styles
   ========================================================================== */


.input-box {
    margin-bottom: 23px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666666;
}

input,
select {
    background: #fff;
    width: 100%;
    border: 1px solid #eaeaea;
    min-height: 40px;
    padding: 0 13px;
    box-sizing: border-box;
}

.inline-label {
    text-align: right;
}

.inline-label > label {
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
}

.checkbox span {
    display: inline-block;
    float: left;
    height: 18px;
    margin-right: 2px;
    width: 18px;
    z-index: 0;
}

.checkbox label {
    color: #222;
    display: inline;
    font-size: 15px;
    font-weight: 400;
}

.checkbox input {
    margin: 0;
    padding: 0;
    min-height: 10px;
}

button{
    float: right;
    color: #fff !important;
    background: #1097cf;
    border: 1px solid transparent;
    padding: 10px 20px;
}

button > .material-icons {
    vertical-align: sub;
}

form {
    margin: 40px 0;
}

.form-header {
    background-color: #d9d9d9;
    width: 100%;
    margin: 20px 0;
    padding: 3px 3px 3px 30px;
}

.form-header h3 {
    color: #1097cf;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* ==========================================================================
   Shop page styles
   ========================================================================== */

.shop-left-side {
    width: 25%;
    float: left;
}

.shop-products {
    float: left;
    width: 75%;
}

.shop-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:  35px;
}

.shop-menu {
    margin: 60px 5px;
}

.shop-menu h3 {
    background-color: #f0f0f0;
    color: #222;
    padding: 10px;
}

.shop-menu li {
    display: block;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
}

.shop-menu ul {
    -webkit-padding-start: 0;
}

.shop-menu > span {
    padding-left: 20px;
}

.shop-nav {
    border-bottom: 1px solid #f0f0f0;
    margin: 70px 20px 0;
}

.shop-nav form {
    margin: 15px 0;
}

.advert {
    width: 100%;
    Height: 500px;
    overflow: hidden;
    background: url(http://captainwatch.lolopdehan.nl/images/2015_Pulsar_Sport_Man.jpg);
    background-size: cover;
    background-position: center;
}


/* ==========================================================================
   Product page styles
   ========================================================================== */

.product-overview {
    border-bottom: 1px solid #f0f0f0;
    height: 150px;
}

.product-overview-left {
    width: 33%;
    float: left;
    margin: 30px 10px;
}

.product-overview-right {
    width: 40%;
    float: left;
    margin: 13px 22px;
}

.product-overview-right form {
    margin: 0 28px;
}

.product-overview-right h4{
    margin: 9px 0;
}

.product-page-margin {
    margin-top: 50px;
}

.product-left-side {
    width: 40%;
    float: left;
    margin-bottom: 60px;
}

.product-left-side img {
    width: 80%;
    height: auto;
    margin-top: 55px;
    box-shadow: 5px 5px 5px #f2f2f2;
}

.product-right-side {
    float: left;
    width: 55%;
    margin-left: 10px;
}

.product-qty {
    float: left;
    margin: 7px 0;
}

.product-qty select {
    width: 70px;
    border: 1px solid #f2f2f2;
    margin-left: 10px;
}

.related-products h3 {
    text-align: center;
    color: #1097cf;
}

/* ==========================================================================
   Shipment page styles
   ========================================================================== */

.shipment  {
    text-align: center;
    margin-top: 20px;
}

.shipment .button{
    margin-bottom: 20px;
}

.shipping-address {
    max-width: 500px;
    background-color: #f2f2f2;
    margin: 0 auto;
}

.shipping-address ul {
    padding: 10px 26px;
}

.shipping-address li {
    display: block;
    text-align: left;
    background-color: white;
    padding: 10px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 641px) {
  body {
    margin-top: 0;
  }

  nav {
    position: relative;
  }

  .hidden-mobile {
      display: initial;
  }

  .nav-menu {
    padding: 0;
  }

  nav .btn-menu {
    display: none;
  }

  nav .container > ul {
    position: relative;
    display: flex;
    left: 0;
    height: auto;
    padding: 0;
    margin: 0;
  }

  nav ul > li a {
    border-right: 1px solid white;
  }

  .sale-items, .footer-flex {
    display: flex;
  }
}

@media only screen and (min-width: 1080px) {
    .col-3-3 {
        float: left;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .col-1-3 {
        float: left;
        width: 33.33%;
        padding: 10px;
        box-sizing: border-box;
    }

    .col-2-3 {
        float: left;
        width: 66.67%;
        padding: 10px;
        box-sizing: border-box;
    }

    .col-1-6 {
        float: left;
        width: 16.67%;
        padding: 10px;
        box-sizing: border-box;
    }

    .col-3-6 {
        float: left;
        width: 50%;
        padding: 10px;
        box-sizing: border-box;
    }

    .col-5-6 {
        float: left;
        width: 83.33%;
        padding: 10px;
        box-sizing: border-box;
    }
}

